/* View.css */
.books-container {
	min-height: calc(100vh - 56px);
	padding: 10px;
	background-color: #2a2e45;
	width: 100%;
}

.book-card {
	margin-bottom: 20px;
}

.book-cover {
	max-height: 400px;
	width: auto;
}

.search-bar {
	margin-bottom: 10px;
}

#search-prompt {
	color: white;
	background-color: #676fa2;
}

h4 {
	color: white;
}

h5 {
	color: lightgray;
}
